[wily]
# list of operators, choose from cyclomatic, maintainability, mccabe and raw
operators = loc,lloc,sloc,comments,multi,cyclomatic,raw,mi
# archiver to use, defaults to git
archiver = git
# path to analyse, defaults to .
path = .
# max revisions to archive, defaults to 50
max_revisions = 20
